{% extends "layout.html" %}
{% block content %}
    <h2> About Page </h2>
    <p class="about-text">This Blog Management System is a backend-driven web application built to manage content creation and publishing workflows efficiently. The platform allows authenticated users to create, edit, and manage blog posts while maintaining structured role-based access.</p>
    <p class="about-text">The system is designed with scalability and security in mind, implementing secure authentication mechanisms and database-backed content storage.</p>
    <h2>Core Features</h2>
    <ul>
    <li>User authentication and authorization</li>
    <li>Role Based Access Control</li>
    <li>Create, update, and delete blog posts</li>
    <li> for blog posts</li>
    <li>Database integration</li>
    </ul>
    <h2>Tech Stack</h2>
    <p class="about-text">Python, Flask, SQLAlchemy, PostgreSQL, REST APIs, and production deployment using Gunicorn.

    <p class="about-text">This project was built to deepen my understanding of backend system design, authentication workflows, and scalable web application architecture.</p>
{% endblock content %}